* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'ubuntu', sans-serif;
}

:root {
    --main-color: #f3f3f3;
    --secondary-color: #101015;
    /*161516*/
    --third-color: #7000be;
    /*850f0f*/
    --third-color-t: #340784;
    /*840404bc*/
}

body {
    background-color: var(--secondary-color);
    color: var(--main-color);
    width: 100%;
    height: 100%;
    position: relative;
}

h1 {
    font-size: 4rem;
    font-weight: 700;
    margin-bottom: 20px;
}
h2 {
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 20px;
}
@media screen and (max-width: 992px) {
    h1 {
        font-size: 2.4rem;
    }

    h2 {
        font-size: 1.8rem;
    }
}

header {
    height: 10vh;
    background-color: var(--third-color);
    color: var(--main-color);
    padding: 5px;

    nav {
        height: 100%;
    }
}
@media screen and (max-width:575px) {
    header {
        height: initial;

        nav {
            height: 100%;
        }
    }
}

.header {
    height: 10vh;
    position: sticky;
    top: 0;
    z-index: 10;

    nav {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;

        a {
            text-decoration: none;
            color: var(--main-color);
            font-size: 1.4rem;
        }

        ul {
            list-style: none;
            display: flex;
            column-gap: 20px;

            a {
                font-size: 1.2rem;
            }
        }
    }
}
@media screen and (max-width: 768px) {
    .header {
        height: initial;

        nav {
            flex-direction: column;
            row-gap: 20px;
            height: 100%;
            align-items: end;

            ul {
                text-align: center;
                flex-direction: column;
                row-gap: 10px;
                align-items: end;
            }
        }
    }
}

.seccionTitulos {
    height: 85vh;
    background: linear-gradient(to bottom, #000000a3, #000000a3), url("../assets/img/banner-bg.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;

    .contenedorTitulos {
        text-align: center;
        /*efecto blur a un contenedor*/
        backdrop-filter: blur(8px);
        width: 100%;
        height: 60%;
        margin: 0 auto;
        border-radius: 5px;

        a {
            margin-top: 20px;
            display: inline-block;
            text-decoration: none;
            color: var(--main-color);
            font-size: 2rem;
            border: 2px solid var(--main-color);
            border-radius: 5px;
            padding: 10px 20px;
        }
    }
}
@media screen and (max-width: 992px) {
    .seccionTitulos {
        background: black;
        height: 70vh;
        background: linear-gradient(to bottom, #000000a3, #000000a3), url("../assets/img/banner-bg-small.png");

        .contenedorTitulos {
            width: 90%;
            backdrop-filter: initial;

            a {
                font-size: 1.8rem;
            }
        }
    }
}

.contenedorGal1 {
    width: 80%;
    margin: 0 auto;
    margin-bottom: 20px;
    text-align: center;

    h2 {
        margin-top: 50px;
        margin-bottom: 20px;
    }

    .carousel {
        .carousel-inner .carousel-item img {
            max-height: 80vh;
            width: auto;
            height: auto;
            object-fit: contain;
        }

    }

    .galeria1 {
        overflow-x: scroll;
        overflow-y: hidden;
        width: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: start;
        column-gap: 30px;

        div {
            width: 220px;
            height: 350px;
            flex-shrink: 0;
            box-shadow: 10px 10px 47px -45px rgba(255, 255, 255, 0.29);

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 5px;
            }
        }
    }

    .btn-group {

        #atras,
        #adelante {
            background-color: var(--third-color);
            border: 2px solid var(--third-color-t);
        }
    }
}
@media screen and (max-width: 992px) {
    .contenedorGal1 {
        width: 95%;

        .galeria1 {
            div {
                width: 300px;
                height: 400px;
            }
        }
    }

}

.arts {
    display: flex;

    article {
        flex: 1;

        main {
            .cuerpoArticulo {
                padding: 5px;
                display: flex;
                align-items: stretch;

                img {
                    padding: 5px;
                }

                p {
                    padding: 15px;
                    max-width: 100%;
                    box-sizing: border-box;
                    padding-right: 30px;
                }
            }
        }

        footer {
            text-align: end;
        }
    }
}
@media screen and (max-width: 992px) {
    .arts {
        display: flex;
        flex-direction: column;
    }
}

.seccionSomos {
    height: 85vh;
    background: linear-gradient(to bottom, #000000a3, #000000a3), url("../assets/img/banner-bg2.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    .contenedorSomos {
        text-align: center;
        backdrop-filter: blur(8px);
        width: 100%;
        height: 60%;
        margin: 0 auto;
        border-radius: 5px;

        a {
            margin-top: 20px;
            display: inline-block;
            text-decoration: none;
            color: var(--main-color);
            font-size: 2rem;
            border: 2px solid var(--main-color);
            border-radius: 5px;
            padding: 10px 20px;
        }
    }
}
@media screen and (max-width: 992px) {
    .seccionSomos {
        background: black;
        height: 70vh;
        background: linear-gradient(to bottom, #000000a3, #000000a3), url("../assets/img/banner-bg2.png");
        .contenedorSomos {            
            width: 90%;
            backdrop-filter: initial;
            a {
                font-size: 1.8rem;
            }
        }
    }
}

.mainContact {
    padding: 20px;

    .contenedorContacto {
        display: flex;
        align-content: center;

        .contact {
            padding-left: 7%;
        }

        .contact2 {
            padding-left: 7%;

            .card {
                background-color: var(--third-color-t);

                .list-group-item {
                    background-color: var(--secondary-color);
                }
            }
        }
    }

    section {
        form {
            padding-left: 0%;
            padding-top: 0%;
            padding-bottom: 5%;

            input {
                border: 2px solid var(--third-color);
                background-color: gray;
                color: white;
                border-radius: 5px;
                padding: 5px;
            }

            textarea {
                border: 2px solid var(--third-color);
                background-color: gray;
                color: white;
                border-radius: 5px;
                padding: 5px;
            }

            .logBtn {
                padding: 10px;

                #enviar,
                #borrar {
                    background-color: var(--third-color);
                    border: 2px solid var(--third-color-t);
                }
            }

        }
    }

    .card {
        border: 2px solid var(--third-color);
        background-color: gray;
        color: white;
        border-radius: 5px;
        padding: 5px;

        .list-group {
            .list-group-item {
                border: 2px solid var(--third-color);
                background-color: gray;
                color: white;
                border-radius: 5px;
                padding: 5px;
            }
        }
    }
}
@media screen and (max-width: 1024px) {
    .mainContact {
        .contenedorContacto {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }
}

.signin {
    padding-left: 45%;
    padding-top: 5%;
    padding-bottom: 20%;

    div {

        #user,
        #pass {
            border: 2px solid var(--third-color);
            background-color: gray;
            border-radius: 5px;
            padding: 5px;
        }
    }

    .logBtn {
        padding-top: 15px;

        #enviar,
        #borrar {
            background-color: var(--third-color);
            border: 2px solid var(--third-color-t);
        }
    }
}

.mainReg {
    section {
        form {
            padding-left: 40%;
            padding-top: 0%;
            padding-bottom: 15%;

            #nombre::placeholder,
            #apellido::placeholder,
            #mail::placeholder,
            #contra::placeholder {
                color: black;
            }

            #nombre,
            #apellido,
            #mail,
            #fnac,
            #contra,
            #sexo,
            #pais,
            #tyc {
                border: 2px solid var(--third-color);
                background-color: gray;
                color: white;
                border-radius: 5px;
                padding: 5px;
            }

            textarea {
                border: 2px solid var(--third-color);
                background-color: gray;
                color: white;
                border-radius: 5px;
                padding: 5px;
            }

            .logBtn {

                #registrar,
                #limpiar {
                    background-color: var(--third-color);
                    border: 2px solid var(--third-color-t);
                }
            }

        }
    }

    .card {
        border: 2px solid var(--third-color);
        background-color: gray;
        color: white;
        border-radius: 5px;
        padding: 5px;

        .list-group {
            .list-group-item {
                border: 2px solid var(--third-color);
                background-color: gray;
                color: white;
                border-radius: 5px;
                padding: 5px;
            }
        }
    }
}

.mainDetalle .detalle .contenedorDetalle {
    .fondoJtron {
        background-color: var(--secondary-color);
    }

    .carousel {
        padding: 3%;

        .carousel-inner .carousel-item img {
            max-height: 80vh;
            width: auto;
            height: auto;
            object-fit: contain;
        }
    }

    .jumbotron .textoDetalle .contenedorBtn {
        #masInfo {
            background-color: var(--third-color);
            border: 2px solid var(--third-color-t);
        }
    }
}

footer {
    background-color: var(--third-color-t);
    color: var(--main-color);
    padding: 10px;
}

.footer {
    nav {
        ul {
            list-style: none;
            display: flex;
            align-items: center;
            justify-content: center;
            column-gap: 20px;

            li {
                a {
                    text-decoration: none;
                    color: var(--main-color);
                    font-size: 1rem;
                }
            }
        }
    }

    .arrowUp {
        background-color: var(--third-color);
        position: fixed;
        bottom: 10px;
        right: 10px;
    }
}
@media screen and (max-width: 768px) {
    .footer {
        nav ul {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }
}

.barraBusqueda {
    padding: 20px;

    h2 {
        text-decoration: none;
        color: var(--main-color);
        font-size: 1.6rem;
    }

    form {
        padding-top: 15px;
        padding-bottom: 30px;
        display: flex;

    }

    .input-group .input-group-append .btn-outline-secondary {
        background-color: var(--third-color);
        border: 2px solid var(--third-color-t);
        color: var(--main-color);
    }



}

aside {
    padding: 35px;

    h4 {
        font-size: 1.2rem;
        row-gap: 10px;
    }

    p {
        text-align: right;
    }

    .cuerpoArticulo {
        padding-left: 30%;
    }
}

.cosoExtra {
    h2 {
        padding: 15px;
    }
}

.regTitle,
.signinTitle,
.contactTitle {
    padding: 35px;
}